/* General Settings */
body{   
    background-image: url("../images/disney-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.header{
    background: rgba(0, 0, 0, 0.1);
    color: white;
}

#game{
    background: rgba(0, 0, 0, 0.5);
    color: white;
}